.app-header {
	padding: 0 .5rem;
	width: 100%;
	height: 4.6875rem;
	border-bottom: 1px solid #e0e0e0;
	background: #f7f7f7;
	
	&.dark {
		color: #FDFDFD;
		background-color: #111111;
		border-bottom: 1px solid #181818;
		.desktop-nav a {
			color: #FDFDFD;
			&:hover {
				background: #363636;
			}
		}
		.slide-menu {
			background-color: #111111;
			button {
				color: #FDFDFD;
				&:hover {
					background: #363636 !important;
				}
			}
		}
		.settings-button {
			color: #FDFDFD;
		}
	}

	div {
		align-items: center;
		gap: 4rem;
		h1 {
			font-size: 2.5rem;
		}
	}
	
	.desktop-nav {
		display: flexbox;
		align-items: center;
		text-align: center;
		justify-content: center;
		height: inherit;

		a {
			height: 100%;
			padding: 1.7rem 0;
			width: 7rem;
			&:hover {
				background: #efeeee;
			}
		}
	}

	.settings-button {
		z-index: 3;
		cursor: pointer;
		border: none;
		background-color: inherit;
		font-size: 1.8rem;
	}
}


@media screen and (max-width: 762px) {
	.desktop-nav {
		display: none;
	}
}