.slide-menu {
    text-align: center;
    padding: 4rem 0 3rem;
    position: fixed;
    transform: translateX(100%);
    top: 4.6875rem;
    height: calc(100% - 4.6875rem);
    background-color: #f7f7f7;
    min-width: 15rem;
    transition: .5s ease;
    right: 0;

    &.visible {
        transform: translateX(0);
    }

    .mobile-nav {
        display: none;
    }

    .settings {
        align-items: center;
        flex-direction: column;
        gap: 2rem;
    }

    button {
        font-size: 1rem;
        padding: .5rem;
        width: 100%;
        cursor: pointer;
		border: none;
		background-color: inherit;
        &:hover {
            background: #efeeee;
        }
    }
}